@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');

body{
    font-family: 'DM Serif Text', serif; 
   /* background-color: black; */
   background-image:url(texture.jpg);
   /* background-size:cover;   */
    

 }

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:white;
    
}

span{color:goldenrod;
font-weight: bold;}

.about{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
    margin-top: 5%;

}
.this-app{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightcyan ; opacity: 0.5; padding-top: 50px; padding-right: 30px; padding-left: 30px; padding-bottom: 50px;
    border-radius: 25px;
    font-size: 25px;
    margin-left: 30%;
    margin-right: 30%;
    
}
.we{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightcyan ; opacity: 0.5; padding-top: 50px; padding-right: 30px; padding-left: 30px; padding-bottom: 50px;
    border-radius: 25px;
    font-size: 25px;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 22px;

}
.git{
    background-color: lightcyan; border-radius: 25px;
}