@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');

body{
    font-family: 'DM Serif Text', serif; 
   /* background-color: black; */
   background-image:url(texture.jpg);
   /* background-size:cover;   */
    

 }

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:white;
}

span{color:goldenrod;
font-weight: bold;}
