form{
  margin-top:10%; 
  font-weight: bold;
  color:white;
  
}
#invert{
  margin-left:15px;
  margin-right:15px;  
}
input[type="number"] { 
  width: 15%;
  padding: 20px 35px;
  margin: 8px 7px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #555;
  outline: none;
}



.currancyForm {
  margin-left: 10%;
  /* display: flex;
  Justify-content: center; */
}
.select-items {
  width: 20%;
  padding: 20px 35px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #555;
  outline: none;
}
.submitButton {
  background-color: goldenrod; /* Green */
  border: none;
  color: white;
  font-weight: bolder;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 1%;
}

