.App {
  font-family: sans-serif;
}

.Home {
  background-color: black;
}
a:link,
a:visited {
  background-color: black;
  color: darkcyan;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: lightblue;
}
.Cal {
  font: 0.9em sans-serif;
  text-align: right;
  margin-left: 55%;
  margin-right: 1%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
