@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

.result{
/* margin-left:30%;  */
margin-right:15%;
text-align: center;
margin-top:30px; 
font-family: 'Russo One', sans-serif;
text-shadow: 2px 2px gray;


}
#rate {
    margin-right:15%;
    text-align: center; 
margin-top:30px; 
}
th , td{
padding: 15px;
text-align: left;

}
th {
background-color: black;
color: goldenrod;
}
td {
border-bottom:1px solid black;
}

.table{
    display: flex;
    justify-content: center;
    margin-right:15%
    /* margin-left:30%; 
    margin-top:30px; */
}
.center{
    text-align: center;
    margin-right:15%;
    font-family: 'Russo One', sans-serif;
    text-shadow: 2px 2px gray;
    /* margin-left:30%; 
    margin-top:30px; */
}
   